*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan' ;
}
.main-container{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4em;
}

header{
    height: 15em;
    width: 30em;
}
header h1{
    color: hsl(300, 43%, 22%);
    font-size: 4em;
    font-weight: 700;
    word-wrap: break-word;

}

header p{
    color:hsl(303, 10%, 53%);
    font-weight: 500;
}


/* Card Section */
.reviews{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:25px;
}

.users-reviews{
    width: 300px;
    height: 220px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: hsl(300, 43%, 22%);
    color: hsl(0,0%,100%);

}

.users-img{
    border-radius: 3em;
    /*float: left;*/
}

/*.users-reviews h3{ -----------testando tudo que ta em comentário 
    text-align: center;
}

.users-reviews h4{
    text-align: center;
}*/

h4{
    color:hsl(333, 80%, 67%);
}










/* Atribuído pelo frontend mentor */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}