*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';

}
.main-container{
    width: 100%;
    /*min-height: 100%;*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 4em;
}
/* Principal Text */
header{
    height: 15em;
    width: 30em;
}
header h1{
    color: hsl(300, 43%, 22%);
    font-size: 4em;
    font-weight:700;
    word-wrap: break-word;
}

header p{
    color:hsl(303, 10%, 53%);
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 8px;
}

/* Ratings section */
.ratings{
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
}

.rating-review{
    width: 360px;
    height: 50px;
    background-color: hsl(300,24%,96%);
    padding: 15px;
    align-items: center;
    margin: 2px;
    border: 1px soid transparent;
    border-radius: 5px;
    box-sizing: border-box;
}

.stars{
    float: left;
}

.vote{
    text-align: center;
    color: hsl(300,43%,22%);
    font-weight: 500; 
}

/* Card Section */
.reviews{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:35px;
    padding-top: 12vh

}

.users-reviews{
    width: 260px;
    height: 200px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: hsl(300, 43%, 22%);
    color: hsl(0,0%,100%);
    transition: all 0.5s;
    cursor: pointer;
}

.users-reviews:hover{
    -webkit-filter: drop-shadow(25px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(25px 10px 5px rgba(0,0,0,.5));
}

.users-img{
    border-radius: 3em;
    width: 60px;
    max-width: 100%;
    float: left;
    margin-left: 5px;
}
.title-card{
    text-align: left;
    padding-top: 17px;
}
.content-review{
    text-align:justify;
    margin-top: 18px;
    padding-top: 13px;
    line-height: 18px;
}

h3{
    font-size: 16px;
}
h4{
    color:hsl(333, 80%, 67%);
    font-size: 13px;
}

/* Footer frontend mentor */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Responsividade */
@media (max-width:791px){
    .ratings{
        padding-top: 3em;
    }
    .reviews{
        display: flex;
        flex-direction: row;
    }
}
@media (max-width:529px){
    .ratings{
        padding-top: 8em;
    }
}

@media (max-width:476px){
    header h1{
        font-size: 3em ;
    }
    .ratings{
        padding-top:2em;
    }
    .rating-review{
        width: 260px;
    }
    .users-reviews{
        width: 280px;
    }
}

@media (max-width:421px){
    header p{
        font-size: 18px;
    } 
    .ratings{
        padding-top: 3em;
    }
}

@media (max-width:351px){
    header h1{
        font-size: 2.6em;
    }
    header p{
        font-size: 16px;
    }
    .ratings{
        padding-top: 2em ;
        font-size: 15px;
    }
    .rating-review{
        width: 250px;
    }
    .users-reviews{
        width: 250px;
    }
    .users-img{
        width: 70px;
    }
}

color: rgb #502050