*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: black;
}



















/* Atribuído pelo frontend mentor */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}